<!-- Footer section starts-->
<section class="content custom-container mb-10 relative">
  <div class="border-top-gray grid grid-cols-1 md:grid-cols-2 gap-2">
    <div class="footer-left pt-10">
      <div class="info-links h-[150px]">
        <p class="text-base">
          Please contact us for more info <br />
          on partnership opportunities
        </p>
        <p class="text-xl">
          <a href="mailto:social@ramp-up.in">social@ramp-up.in</a>
        </p>
        <p class="text-base mt-4">For press inquires</p>
        <p class="text-xl">
          <a href="mailto:social@ramp-up.in">social@ramp-up.in</a>
        </p>
      </div>

      <div class="mt-10">
        <div class="flex items-center">
          <a class="text-gray-tone6 text-sm" href="/privacy-policy"
            >Privacy Policy</a
          >
          <a class="text-gray-tone6 text-sm ml-4 lg:ml-12" href="/terms"
            >Terms of Service</a
          >
          <a class="text-gray-tone6 text-sm ml-4 lg:ml-12" href="/faqs">FAQs</a>
        </div>
      </div>
    </div>
    <div class="footer-right pt-10 md:pl-6">
      <div class="info-links h-[150px]">
        <p>
          <a
            class="text-xl"
            href="https://www.instagram.com/rampup.in/"
            target="_blank"
            >INSTAGRAM</a
          >
        </p>
        <p>
          <a
            class="text-xl"
            href="https://twitter.com/rampupapp?s=11&t=ZqcK6UPk3xOezGJKjy1URA"
            target="_blank"
            >TWITTER</a
          >
        </p>
        <p>
          <a
            class="text-xl"
            href="https://www.linkedin.com/company/rampupapp/"
            target="_blank"
            >LINKEDIN</a
          >
        </p>
      </div>
      <div class="mt-10">
        <div class="flex items-center justify-end">
          <span class="text-gray-tone6 text-sm"
            >© 2023 RAMPUP Powered by 2nd Innings Technology Pvt. Ltd.</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="absolute right-[60px] bottom-[60px]">
    <a id="top-arrow" href="#">
      <img
        src="./assets/icons/arrow.svg"
        alt="click to scroll up"
        loading="lazy"
      />
    </a>
  </div>
</section>
<!-- Footer section ends-->
