<!--Website header starts-->
<header class="header-main">
  <div class="header-container">
    <a href="/">
      <div class="website-logo">
        <img
          src="./assets/images/ramp-up-logo.png"
          alt="ramp-up logo"
          loading="lazy"
          class="website-logo-img"
        />
      </div>
    </a>
  </div>
</header>
<!--Website header ends-->
