<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-WL3T33DCMD"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-WL3T33DCMD");
        </script>
        <!-- Google tag (gtag.js) ends -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            FAQs - RampUp | Your sustainable digital luxury app that helps you
            digitize your wardrobe, style fun outfits, buy and sell pre-loved
            luxury. Resale, Rent, Revive with Ramp-Up!
        </title>
        <meta
            name="og_title"
            property="og:title"
            content="FAQs - RampUp | Your sustainable digital luxury app that helps you digitize
            your wardrobe, style fun outfits, buy and sell pre-loved luxury.
            Resale, Rent, Revive with Ramp-Up!"
        />
        <meta
            name="twitter:title"
            content="FAQs - RampUp | Your sustainable digital luxury app that helps you digitize your
            wardrobe, style fun outfits, buy and sell pre-loved luxury. Resale,
            Rent, Revive with Ramp-Up!"
        />
        <meta
            name="Keywords"
            content="Luxury, Resale, India Luxury, Luxury Styling, Styling, Wardrobe, Digital Wardrobe, Luxury Wardrobe, Luxury platform, Stylist, Online Stylist, Luxury Stylist, Digital Closet, Online Closet, Luxury Repair, Luxury Laundry, Indian Luxury, Luxury Fashion, Sustainable Fashion, Rent, Revive, Resale, Luxury Upcycle, Luxury Resale, India Fashion, Designer Clothing, Pre-Owned, Pre-Loved, Almari, Gucci, Prada, Cartier, Rolex, Chanel, Louis Vuitton, Manish Malhotra, Sabyasachi"
        />
        <meta
            name="Description"
            content="Your sustainable digital luxury app that helps you digitize your wardrobe, style fun outfits, buy and sell pre-loved luxury. Resale, Rent, Revive with Ramp-Up!"
        />
        <meta
            property="og:description"
            content="Your sustainable digital luxury app that helps you digitize your wardrobe, style fun outfits, buy and sell pre-loved luxury. Resale, Rent, Revive with Ramp-Up!"
        />
        <meta property="og:type" content="website" />
        <meta name="og_site_name" property="og:site_name" content="rampup.in" />
        <meta name="og_url" property="og:url" content="https://www.rampup.in" />
        <meta name="robots" content="index, follow" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <script src="./js/tailwind-config.js"></script>
        <link rel="stylesheet" href="./css/style.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Inter:300,400,600,700&amp;lang=en"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Syne:300,400,600,700&amp;lang=en"
        />

        <link
            rel="icon"
            type="image/x-icon"
            href="./assets/images/favicon.png"
        />
        <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                    content-visibility: auto;
                }
            }
        </style>
    </head>
    <body>
        <%- include("includes/headerWithoutVideo") %>

        <!-- About us starts-->
        <section
            class="content custom-container mb-12 md:my-28 mt-20 md:mt-40 lg:mr-32"
        >
            <h3 class="font-bold text-5xl mb-12">FAQs</h3>
            <div class="flex justify-between items-start text-2xl">
                <div>
                    <div class="mb-12">
                        <h3 class="text-3xl my-4">What is Almari?</h3>
                        <p class="mb-4 font-light">
                            Almari is a digital wardrobe management app
                            promoting sustainability by helping you connect with
                            the contents of your physical wardrobe.
                            <br />
                            Coming Soon - Luxury Services and Resale
                        </p>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-3xl my-4">How does Almari work?</h3>
                        <p class="mb-4 font-light">
                            Almari is a wardrobe upload app that allows users to
                            upload and organize their luxury wardrobe items
                            online, creating a virtual closet. Users can upload
                            their luxury items by taking photos, or by uploading
                            them from their photo library. Almari also offers
                            luxury services like wardrobe photoshoot where we
                            will come to your home and take high-quality photos
                            of your luxury products.
                        </p>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-3xl my-4">Why should I use Almari?</h3>
                        <p class="mb-4 font-light">
                            Using Almari can help you better organize your
                            valuables, easily plan your outfits, and keep track
                            of what you own. It can also help you identify gaps
                            in your wardrobe and make more informed purchasing
                            decisions. <br />We will be offering high-touch
                            luxury services very soon which will hep you utilise
                            your wardrobe to its full potential. <br />Almari is
                            your full wardrobe management solution.
                        </p>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-3xl my-4">
                            What technology does Almari use?
                        </h3>
                        <p class="mb-4 font-light">
                            Almari uses state-of-the-art technology throughout
                            all the stages. Almari is using AI, such as machine
                            learning, computer vision and recommendation engine
                            to create a seamless and enjoyable user experience.
                        </p>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-3xl my-4">How much does it cost?</h3>
                        <p class="mb-4 font-light">
                            Almari is free for its users. A premium version with
                            additional features will launch in a later version
                            of the app.
                        </p>
                    </div>

                    <div class="mb-12">
                        <h3 class="text-3xl my-4">
                            Is it safe to upload photos of my clothing items to
                            a wardrobe upload app?
                        </h3>
                        <p class="mb-4 font-light">
                            We take our privacy and security seriously, and use
                            encryption and other security measures to protect
                            user data. However, it's important to read the app's
                            privacy policy and terms of use before uploading any
                            personal information.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About us ends -->

        <%- include("includes/footer") %>
    </body>
    <script type="text/javascript" src="./js/app-config.js"></script>
</html>
