<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-WL3T33DCMD"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-WL3T33DCMD");
        </script>
        <!-- Google tag (gtag.js) ends -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
            RampUp | Your sustainable digital luxury app that helps you digitize
            your wardrobe, style fun outfits, buy and sell pre-loved luxury.
            Resale, Rent, Revive with Ramp-Up!
        </title>
        <meta
            name="og_title"
            property="og:title"
            content="RampUp | Your sustainable digital luxury app that helps you digitize
            your wardrobe, style fun outfits, buy and sell pre-loved luxury.
            Resale, Rent, Revive with Ramp-Up!"
        />
        <meta
            name="twitter:title"
            content="RampUp | Your sustainable digital luxury app that helps you digitize your
            wardrobe, style fun outfits, buy and sell pre-loved luxury. Resale,
            Rent, Revive with Ramp-Up!"
        />
        <meta
            name="Keywords"
            content="Luxury, Resale, India Luxury, Luxury Styling, Styling, Wardrobe, Digital Wardrobe, Luxury Wardrobe, Luxury platform, Stylist, Online Stylist, Luxury Stylist, Digital Closet, Online Closet, Luxury Repair, Luxury Laundry, Indian Luxury, Luxury Fashion, Sustainable Fashion, Rent, Revive, Resale, Luxury Upcycle, Luxury Resale, India Fashion, Designer Clothing, Pre-Owned, Pre-Loved, Almari, Gucci, Prada, Cartier, Rolex, Chanel, Louis Vuitton, Manish Malhotra, Sabyasachi"
        />
        <meta
            name="Description"
            content="Your sustainable digital luxury app that helps you digitize your wardrobe, style fun outfits, buy and sell pre-loved luxury. Resale, Rent, Revive with Ramp-Up!"
        />
        <meta
            property="og:description"
            content="Your sustainable digital luxury app that helps you digitize your wardrobe, style fun outfits, buy and sell pre-loved luxury. Resale, Rent, Revive with Ramp-Up!"
        />
        <meta property="og:type" content="website" />
        <meta name="og_site_name" property="og:site_name" content="rampup.in" />
        <meta name="og_url" property="og:url" content="https://www.rampup.in" />
        <meta name="robots" content="index, nofollow" />

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
        <script src="./js/tailwind-config.js"></script>
        <link rel="stylesheet" href="./css/style.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Inter:300,400,600,700&amp;lang=en"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Syne:300,400,600,700&amp;lang=en"
        />

        <link
            rel="icon"
            type="image/x-icon"
            href="./assets/images/favicon.png"
        />
        <style type="text/tailwindcss">
            @layer utilities {
                .content-auto {
                    content-visibility: auto;
                }
            }
        </style>
    </head>
    <body>
        <%- include("includes/headerWithVideo")%>

        <!--Register for early access starts-->
        <section
            id="early-register"
            class="content custom-container my-20 md:my-28"
        >
            <form
                onsubmit="handleSubmitForm(event)"
                action="/earlyaccess"
                method="post"
            >
                <div
                    class="flex flex-col justify-center lg:flex-row lg:justify-between items-center"
                >
                    <h3 class="font-bold text-3xl lg:text-5xl mb-4 lg:mb-0">
                        Register to get <br class="hidden lg:inline" />
                        early access
                    </h3>

                    <div class="w-full lg:w-auto">
                        <label>
                            Email
                            <br />
                            <input
                                type="email"
                                id="user-email"
                                name="email"
                                required
                                class="border-none border-b mb-4 border-b-solid w-full lg:min-w-[330px]"
                            />
                            <br />
                            <%if(email){%>
                            <span class="badge badge-success email"
                                ><%=email%> Registration Successfull!</span
                            >
                            <%}%>
                            <span
                                id="registartion-response"
                                class="text-xs tracking-widest"
                            ></span>
                        </label>
                    </div>
                    <input type="submit" class="button-main px-24 bg-black" />
                </div>
            </form>
        </section>
        <!--Register for early access ends-->

        <!-- Team section starts-->
        <section class="content custom-container mt-20 mb-12 md:my-28">
            <h3 class="font-bold text-3xl lg:text-5xl mb-8">The Team</h3>
            <div
                class="flex flex-col lg:flex-row justify-center lg:justify-between items-center"
            >
                <div class="text-center mb-4 lg:mb-auto">
                    <div id="shruti" class="team-img"></div>
                    <a
                        href="https://www.linkedin.com/in/shruti-garg-822aa73/"
                        class="underline block text-2xl mt-8 mb-4 triggerGA"
                        target="_blank"
                        data-event-action="Team_Shruti_click"
                        data-event-category="Home page"
                        data-event-label="Team Shruti"
                        >Co-Founder</a
                    >
                </div>

                <div class="text-center mb-4 lg:mb-auto">
                    <div id="vima" class="team-img text-center"></div>
                    <a
                        href="https://www.linkedin.com/in/vima-philips/"
                        class="underline block text-2xl text-center mt-8 mb-4 triggerGA"
                        target="_blank"
                        data-event-action="Team_Vima_click"
                        data-event-category="Home page"
                        data-event-label="Team Vima"
                        >Co-Founder</a
                    >
                </div>
                <div class="text-center mb-4 lg:mb-auto">
                    <div id="gaurav" class="team-img text-center"></div>
                    <a
                        href="https://www.linkedin.com/in/gagupta79/"
                        class="underline block text-2xl text-center mt-8 mb-4 triggerGA"
                        target="_blank"
                        data-event-action="Team_Gaurav_click"
                        data-event-category="Home page"
                        data-event-label="Team Gaurav"
                        >Advisor</a
                    >
                </div>
            </div>
        </section>
        <!-- Team section ends-->

        <!-- Team section starts-->
        <section class="content custom-container mt-20 mb-12 md:my-28">
            <h3 class="font-bold text-3xl lg:text-5xl mb-8">The Team</h3>
            <div
                class="flex flex-col lg:flex-row justify-center lg:justify-between items-center"
            >
                <div class="text-center mb-4 lg:mb-auto">
                    <div id="shruti" class="team-img"></div>
                    <a
                        href="https://www.linkedin.com/in/shruti-garg-822aa73/"
                        class="underline block text-2xl mt-8 mb-4"
                        target="_blank"
                        >Co-Founder</a
                    >
                </div>

                <div class="text-center mb-4 lg:mb-auto">
                    <div id="vima" class="team-img text-center"></div>
                    <a
                        href="https://www.linkedin.com/in/vima-philips/"
                        class="underline block text-2xl text-center mt-8 mb-4"
                        target="_blank"
                        >Co-Founder</a
                    >
                </div>
                <div class="text-center mb-4 lg:mb-auto">
                    <div id="gaurav" class="team-img text-center"></div>
                    <a
                        href="https://www.linkedin.com/in/gagupta79/"
                        class="underline block text-2xl text-center mt-8 mb-4"
                        target="_blank"
                        >Advisor</a
                    >
                </div>
            </div>
        </section>
        <!-- Team section ends-->

        <%- include("includes/footer")%>
    </body>
    <script type="text/javascript" src="./js/app-config.js"></script>
</html>
